.page5 {
  height: 70vh;
  position: relative;
  width: 100vw;
  /* background: #181818; */
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: default;
}

.elem, .elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem h1, .elem2 h1 {
  font-size: 3vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  display: inline-block;
  margin-right: 10px;
  height: fit-content;
  animation-name: slide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.elem2 h1 {
  animation-direction: reverse;
  transform: translateX(calc(-100% - 20px));
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.elem span, .elem2 span {
  font-style: italic;
  font-family: "serif";
  color: transparent;
  border-bottom: 2.5px solid #fff;
  -webkit-text-stroke: 1.5px #fff;
}

/* Responsive styles */
@media (max-width: 900px) {
  .page5 {
    height: 60vw;
  }
  .elem h1, .elem2 h1 {
    font-size: 3.7rem;
  }
}

@media (max-width: 500px) {
  .page5 {
    height: 48vw;
    min-height: 260px;
    padding: 10px 3vw;
    justify-content: flex-start;
  }
  .elem h1, .elem2 h1 {
    font-size: 2.7rem;
    -webkit-text-stroke: 0.5px #fff;
    margin-bottom: 4px;
  }
  .elem span, .elem2 span {
    border-bottom-width: 1px;
    -webkit-text-stroke: 0.8px #fff;
  }
}
